.page-header
  h1
    | {{ "Fabrication List" | translate }}&nbsp;
    small {{ "Dates, times and other information" | translate }}

br
.row
  .col-md-4.left.relative
    include fabrication-list-actions.pug
    include fabrication-list-filters-fast.pug
  .col-md-8.right
    include fabrication-list-search.pug

br
.row(*ngIf="doGetKeysForFilters().length > 0")
  .col-md-12.left
    include fabrication-list-filters-user.pug

br
.row(*ngIf="arrKeysFabrHeadersAndValuesToFilterBy.length > 0")
  .col-md-12.left
    include fabrication-list-filters-predefined.pug

//- br
//- br
//- pre: code {{ arrFabrs[0] | json }}
//- br
//- br

br
.row
  .col-md-12.overflow-hidden
    table.fabrications.table

      thead
        tr
          ng-container
            th.column-counter #
            th.column-priority {{ 'Priority' | translate }}
            th.column-rework {{ 'Rework' | translate }}?
          ng-container(*ngFor="let primaryKey of settings?.fabricationHeaders?.primary")
            th(*ngIf="arrFabrHeadersToExclude.indexOf(primaryKey) < 0", [ngClass]="'column-' + primaryKey")
              a((click)="doToggleSort(primaryKey)", title="{{ primaryKey | translate }}")
                i.glyphicon.glyphicon-chevron-up([hidden]="!(isSortKeyEqual(primaryKey))")
                i.glyphicon.glyphicon-chevron-down([hidden]="!(isSortKeyEqual('-' + primaryKey))")
                span {{ primaryKey | translate }}
          ng-container(*ngIf="arrFabrHeadersSecondary.indexOf(doGetSortKey()) >= 0")
            th.highlighted
              a((click)="doToggleSort(doGetSortKey())", title="{{ doGetSortKey() | translate }}")
                i.glyphicon.glyphicon-chevron-up([hidden]="!(isSortKeyEqual(doGetSortKey()))")
                i.glyphicon.glyphicon-chevron-down([hidden]="!(isSortKeyEqual('-' + doGetSortKey()))")
                span {{ doGetSortKey() | translate }}

      tbody(*ngIf="arrFabrs.length > 0")
        ng-container(*ngFor="let objFabr of arrFabrs; trackBy doTrackRows; let index = index")

          tr.fabrication-table-row.border(
              [class.gray-old]="isSortSecondaryKey() || isFilterSecondaryKey()",
              [class.active]="isFabricationOpen(index)",
              (click)="doToggleOpenFabrication(index)",
          )
            ng-container
              td.column-counter {{ index + 1 }}
              td.column-priority((click)="togglePrioritySelector($event, objFabr.WorkorderId)")
                div.priority([ngClass]="'priority-' + (aarFabrMeta[objFabr.WorkorderId]?.priority || strPriorityDefault)")
                  |{{ (aarFabrMeta[objFabr.WorkorderId]?.priority || strPriorityDefault) | translate }}
                div.priority-selector(*ngIf="strPrioritySelectorOpen === objFabr.WorkorderId")
                  span.priority(
                      *ngFor="let priority of arrPriorities",
                      [ngClass]="'priority-' + priority",
                      (click)="setPriority(objFabr.WorkorderId, priority)"
                  ) {{ priority | translate }}
              td.column-priority((click)="toggleRework($event, objFabr.WorkorderId)")
                span.text-success(*ngIf="aarFabrMeta[objFabr.WorkorderId]?.rework"): i.glyphicon.glyphicon-ok
                span.text-danger(*ngIf="!aarFabrMeta[objFabr.WorkorderId]?.rework"): i.glyphicon.glyphicon-remove
            ng-container(*ngFor="let primaryKey of settings?.fabricationHeaders?.primary")
              td(*ngIf="arrFabrHeadersToExclude.indexOf(primaryKey) < 0", [ngClass]="'column-' + primaryKey")
                a((click)="doSetFilter($event, primaryKey, objFabr[primaryKey])",
                    title="{{ 'Set filter to variable' | translate:{ strHeader: (primaryKey | translate) } }}")
                  span(*ngIf="settings?.fabricationHeaders?.pipes[primaryKey] === 'date'")
                    |{{ objFabr[primaryKey] | date:"y-MM-dd" }}
                  span(*ngIf="!settings?.fabricationHeaders?.pipes[primaryKey]")
                    |{{ objFabr[primaryKey] | translate }}
            ng-container(*ngIf="arrFabrHeadersSecondary.indexOf(doGetSortKey()) >= 0")
              td.highlighted {{ objFabr[doGetSortKey()] }}

          tr.fabrication-table-comment(
              [class.active]="isFabricationOpen(index)",
              [class.filled-out]="!!aarFabrMeta[objFabr.WorkorderId]?.comment",
          )
            td(colspan="100")
              pre
                textarea(
                    [rows]="getCommentLines(aarFabrMeta[objFabr.WorkorderId]?.comment)",
                    [ngModel]="aarFabrMeta[objFabr.WorkorderId]?.comment",
                    (ngModelChange)="setComment($event, objFabr.WorkorderId)",
              )

          tr.fabrication-table-extra(
              *ngIf="isFabricationOpen(index)",
              (click)="doToggleOpenFabrication(index)",
              [class.active]="isFabricationOpen(index)",
          )
            td
            td(colspan="100")
              ng-container(*ngFor="let secondaryKey of settings?.fabricationHeaders?.secondary")
                dl(*ngIf="objFabr[secondaryKey] && arrFabrHeadersToExclude.indexOf(secondaryKey) < 0")
                  dt([class.padding]="!isSortSecondaryKey() || isSortSecondaryKey() && secondaryKey !== strSortKey")
                    a.left((click)="doToggleSort(secondaryKey)", title="{{ secondaryKey }}")
                      i.glyphicon.glyphicon-chevron-up([hidden]="!(isSortKeyEqual(secondaryKey))")
                      i.glyphicon.glyphicon-chevron-down([hidden]="!(isSortKeyEqual('-' + secondaryKey))")
                      span  {{ secondaryKey | translate }}:
                  dd
                    a((click)="doSetFilter($event, secondaryKey, objFabr[secondaryKey])",
                        title="Set filter to {{secondaryKey}}",
                    ) {{ objFabr[secondaryKey] | translate }}
            td(*ngIf="arrFabrHeadersSecondary.indexOf(doGetSortKey()) >= 0")

.alert.alert-info(*ngIf="arrFabrs.length <= 0")
  |{{ "No fabrication data found" | translate }}!

#fabrication-list-scroll-end.alert.alert-info(*ngIf="!hasNoMoreRows")
  div([hidden]="!isAutoloadActive") {{ "Scroll here to load more" | translate }} ...
  button.btn.btn-primary(
      [hidden]="isAutoloadActive",
      (click)="doReadFabricationsToAdd()",
  ) {{ "Click here to load more" | translate }} ...


//- br
//- .row
//-   .col-md-12.overflow-hidden
//-     table.fabrications.table
//-       thead
//-         tr
//-           th #
//-           th(*ngIf="arrFabrHeadersToExclude.indexOf("OrderDuedateTime") < 0")
//-             a((click)="doToggleSort("OrderDuedateTime")",
//-                 title="{{ "CW" | translate }}")
//-               i.glyphicon.glyphicon-chevron-up([hidden]="!(isSortKeyEqual("OrderDuedateTime"))")
//-               i.glyphicon.glyphicon-chevron-down([hidden]="!(isSortKeyEqual("-OrderDuedateTime"))")
//-               span {{ "CW" | translate }}
//-           th(*ngIf="arrFabrHeadersToExclude.indexOf("OrderDuedateTime") < 0")
//-             a((click)="doToggleSort("OrderDuedateTime")",
//-                 title="{{ "Date" | translate }}")
//-               i.glyphicon.glyphicon-chevron-up([hidden]="!(isSortKeyEqual("OrderDuedateTime"))")
//-               i.glyphicon.glyphicon-chevron-down([hidden]="!(isSortKeyEqual("-OrderDuedateTime"))")
//-               span {{ "Date" | translate }}
//-           th(*ngIf="arrFabrHeadersToExclude.indexOf("MachineId") < 0")
//-             a((click)="doToggleSort("MachineId")",
//-                 title="{{ "Workorder ID" | translate }}")
//-               i.glyphicon.glyphicon-chevron-up([hidden]="!(isSortKeyEqual("MachineId"))")
//-               i.glyphicon.glyphicon-chevron-down([hidden]="!(isSortKeyEqual("-MachineId"))")
//-               span {{ "Machine ID" | translate }}
//-           th(*ngIf="arrFabrHeadersToExclude.indexOf("WorkorderId") < 0")
//-             a((click)="doToggleSort("WorkorderId")",
//-                 title="{{ "Workorder ID" | translate }}")
//-               i.glyphicon.glyphicon-chevron-up([hidden]="!(isSortKeyEqual("WorkorderId"))")
//-               i.glyphicon.glyphicon-chevron-down([hidden]="!(isSortKeyEqual("-WorkorderId"))")
//-               span {{ "Workorder ID" | translate }}
//-           th(*ngIf="arrFabrHeadersToExclude.indexOf("CurrentQuantity") < 0")
//-             a((click)="doToggleSort("CurrentQuantity")",
//-                 title="{{ "Amount current" | translate }}")
//-               i.glyphicon.glyphicon-chevron-up([hidden]="!(isSortKeyEqual("CurrentQuantity"))")
//-               i.glyphicon.glyphicon-chevron-down([hidden]="!(isSortKeyEqual("-CurrentQuantity"))")
//-               span {{ "Amount current" | translate }}
//-           th(*ngIf="arrFabrHeadersToExclude.indexOf("TargetQuantity") < 0")
//-             a((click)="doToggleSort("TargetQuantity")",
//-                 title="{{ "Amount target" | translate }}")
//-               i.glyphicon.glyphicon-chevron-up([hidden]="!(isSortKeyEqual("TargetQuantity"))")
//-               i.glyphicon.glyphicon-chevron-down([hidden]="!(isSortKeyEqual("-TargetQuantity"))")
//-               span {{ "Amount target" | translate }}
//-           th(*ngIf="arrFabrHeadersToExclude.indexOf("ArticleCode") < 0")
//-             a((click)="doToggleSort("ArticleCode")",
//-                 title="{{ "Article code" | translate }}")
//-               i.glyphicon.glyphicon-chevron-up([hidden]="!(isSortKeyEqual("ArticleCode"))")
//-               i.glyphicon.glyphicon-chevron-down([hidden]="!(isSortKeyEqual("-ArticleCode"))")
//-               span {{ "Article code" | translate }}
//-           th(*ngIf="arrFabrHeadersToExclude.indexOf("surfaceText") < 0")
//-             a((click)="doToggleSort("surfaceText")",
//-                 title="{{ "Description" | translate }}")
//-               i.glyphicon.glyphicon-chevron-up([hidden]="!(isSortKeyEqual("surfaceText"))")
//-               i.glyphicon.glyphicon-chevron-down([hidden]="!(isSortKeyEqual("-surfaceText"))")
//-               span {{ "Description" | translate }}
//-           th.highlighted(*ngIf="arrFabrHeadersSecondary.indexOf(doGetSortKey()) >= 0")
//-             a((click)="doToggleSort(doGetSortKey())",
//-                 title="{{ "Description" | translate }}")
//-               i.glyphicon.glyphicon-chevron-up([hidden]="!(isSortKeyEqual(doGetSortKey()))")
//-               i.glyphicon.glyphicon-chevron-down([hidden]="!(isSortKeyEqual("-" + doGetSortKey()))")
//-               span {{ doGetSortKey() | translate }}
//-       tbody(*ngIf="arrFabrs.length <= 0")
//-         td(colspan="9")
//-           .alert.alert-info {{ "No fabrication data found" | translate }}!
//-       tbody(*ngIf="arrFabrs.length > 0")
//-         ng-template(ngFor="", let-objFabr="", let-index="index", [ngForOf]="arrFabrs", [ngForTrackBy]="doTrackRows")
//-           tr.fabrication-table-row.border((click)="doToggleOpenFabrication(index)", [class.gray]="isSortSecondaryKey() || isFilterSecondaryKey()", [class.active]="isFabricationOpen(index)")
//-             td {{ index + 1 }}
//-             td(*ngIf="arrFabrHeadersToExclude.indexOf("OrderDuedateYear") < 0")
//-               a((click)="doSetFilter($event, "OrderDuedateCw", objFabr.OrderDuedateCw)",
//-                   title="{{ "Set filter to variable" | translate:{ strHeader: "Calendar Week" | translate } }}")
//-                 |{{ objFabr.OrderDuedateCw }}
//-               span ,&nbsp;
//-               a((click)="doSetFilter($event, "calendarYear", objFabr.calendarYear)",
//-                   title="{{ "Set filter to variable" | translate:{ strHeader: "Calendar Year" | translate } }}")
//-                 |{{ objFabr.OrderDuedateYear }}
//-             td(*ngIf="arrFabrHeadersToExclude.indexOf("OrderDuedateTime") < 0")
//-               a((click)="doSetFilter($event, "OrderDuedateTime", objFabr.OrderDuedateTime)",
//-                   title="{{ "Set filter to variable" | translate:{ strHeader: "Date and Time" | translate } }}")
//-                 |{{ objFabr.OrderDuedateTime | date:"y-MM-dd" }}
//-             td(*ngIf="arrFabrHeadersToExclude.indexOf("MachineId") < 0")
//-               a((click)="doSetFilter($event, "MachineId", objFabr.MachineId)",
//-                   title="{{ "Set filter to variable" | translate:{ strHeader: "Workorder ID" | translate } }}")
//-                 |{{ objFabr.MachineId }}
//-             td(*ngIf="arrFabrHeadersToExclude.indexOf("WorkorderId") < 0")
//-               a((click)="doSetFilter($event, "WorkorderId", objFabr.WorkorderId)",
//-                   title="{{ "Set filter to variable" | translate:{ strHeader: "Workorder ID" | translate } }}")
//-                 |{{ objFabr.WorkorderId }}
//-             td(*ngIf="arrFabrHeadersToExclude.indexOf("CurrentQuantity") < 0")
//-               a((click)="doSetFilter($event, "CurrentQuantity", objFabr.CurrentQuantity)",
//-                   title="{{ "Set filter to variable" | translate:{ strHeader: "Amount Current" | translate } }}")
//-                 |{{ objFabr.CurrentQuantity | number:0 }}
//-             td(*ngIf="arrFabrHeadersToExclude.indexOf("TargetQuantity") < 0")
//-               a((click)="doSetFilter($event, "TargetQuantity", objFabr.TargetQuantity)",
//-                   title="{{ "Set filter to variable" | translate:{ strHeader: "Amount Target" | translate } }}")
//-                 |{{ objFabr.TargetQuantity | number:0 }}
//-             td(*ngIf="arrFabrHeadersToExclude.indexOf("ArticleCode") < 0")
//-               a((click)="doSetFilter($event, "ArticleCode", objFabr.ArticleCode)",
//-                   title="{{ "Set filter to variable" | translate:{ strHeader: "Article Code" | translate } }}")
//-                 |{{ objFabr.ArticleCode }}
//-             td.no-break.overflow-hidden(*ngIf="arrFabrHeadersToExclude.indexOf("surfaceText") < 0")
//-               a((click)="doSetFilter($event, "surfaceText", objFabr.surfaceText)",
//-                   title="{{ "Set filter to variable" | translate:{ strHeader: "Surface" | translate } }}")
//-                 |{{ objFabr.surfaceText }}
//-             td.highlighted(*ngIf="arrFabrHeadersSecondary.indexOf(doGetSortKey()) >= 0")
//-               |{{ objFabr[doGetSortKey()] }}
//-           tr.fabrication-table-extra(*ngIf="isFabricationOpen(index)", (click)="doToggleOpenFabrication(index)", [class.active]="isFabricationOpen(index)")
//-             td
//-             td(colspan="8")
//-               ng-container(*ngFor="let strKey of arrFabrHeadersSecondary")
//-                 dl(*ngIf="objFabr[strKey] && arrFabrHeadersToExclude.indexOf(strKey) < 0")
//-                   dt([class.padding]="!isSortSecondaryKey() || isSortSecondaryKey() && strKey !== strSortKey")
//-                     a.left((click)="doToggleSort(strKey)", title="{{ strKey }}")
//-                       i.glyphicon.glyphicon-chevron-up([hidden]="!(isSortKeyEqual(strKey))")
//-                       i.glyphicon.glyphicon-chevron-down([hidden]="!(isSortKeyEqual("-" + strKey))")
//-                       span  {{ strKey | translate }}:
//-                   dd
//-                     a((click)="doSetFilter($event, strKey, objFabr[strKey])", title="Set filter to {{strKey}}") {{ objFabr[strKey] | translate }}
//-             td(*ngIf="arrFabrHeadersSecondary.indexOf(doGetSortKey()) >= 0")
          //- tr.fabrication-table-secondary
          //-   td
          //-   td(colspan="8")
          //-     ng-template(ngFor="", let-strKey="", [ngForOf]="arrFabrHeadersSecondary")
          //-       dl(*ngIf="objFabr[strKey] && (doGetSortKey() === strKey || doGetKeysForFilters().indexOf(strKey) >= 0 || isSearchKeyInValue(objFabr[strKey]+""))")
          //-         dt
          //-           a.left((click)="doToggleSort(strKey)", title="{{ strKey | translate }}")
          //-             i.glyphicon.glyphicon-chevron-up([hidden]="!(isSortKeyEqual(strKey))")
          //-             i.glyphicon.glyphicon-chevron-down([hidden]="!(isSortKeyEqual("-" + strKey))")
          //-             span  {{ strKey | translate }}:
          //-         dd
          //-           a((click)="doSetFilter($event, strKey, objFabr[strKey])", title="Set filter to {{strKey}}") {{ objFabr[strKey] | translate }}
          //-   td(*ngIf="arrFabrHeadersSecondary.indexOf(doGetSortKey()) >= 0")
    #fabrication-list-scroll-end.alert.alert-info(*ngIf="!hasNoMoreRows")
      div([hidden]="!isAutoloadActive") {{ "Scroll here to load more" | translate }} ...
      button.btn.btn-primary([hidden]="isAutoloadActive", (click)="doReadFabricationsToAdd()") {{ "Click here to load more" | translate }} ...
